a {
    cursor: pointer;
}

button {
    width: 150px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    color: white;
    background-color: lightcoral;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}

.set-add {
    display: grid;

    padding-top: 20px;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}

