.header {
    display: grid;
    align-content: center;
    height: 100vh;
}


.header-nav {
    display: grid;
    justify-content: start;
    list-style-type: none;
    grid-row-gap: 15px;


}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;

}

li {
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    border-radius: 0 5px 5px 0;
}



