<header class="header">
  <ul class="header-nav">
    <li>
      <img routerLink="/find-sitter" [src]="logo" alt="logo">
    </li>
    <li>
      <a routerLinkActive='active' routerLink="/babysitter-ads">
        Babysitter Ads
      </a>
    </li>
    <li>
      <a routerLinkActive='active' routerLink="/parent-ads">Parent Ads</a>
    </li>
    <li>
      <a routerLinkActive='active' routerLink="/set-ad">Set Ad</a>
    </li>
    <li>
      <a routerLinkActive='active' routerLink="/info">About App</a>
    </li>
  </ul>
</header>