.header {
    display:grid;
    background-color: #2d333a;
}


.header-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: start;
    list-style-type: none;
    grid-column-gap: 15px;
    align-items: center;

}


a {
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
    font-size: 18px;

}

li {
   padding: 5px;
    padding-left: 20px;
}

img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.active {
    color: lightcoral;
}



@media screen and (max-width: 640px) {
    .header {

         padding: 30px; 
    } 

    .header-nav {
        justify-content: center;
        grid-template-columns: auto;

    }

}



