<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">

  <input type="text" name="name" placeholder="enter name" ngModel required>
  <input type="text" name="age" placeholder="enter age" maxlength="4" ngModel required>


  <input type="text" name="email" placeholder="enter email" ngModel email required #email="ngModel">
  <p *ngIf="!email.valid && email.touched">
    Enter valid e-mail adress.
  </p>
  <input type="text" name="city" placeholder="enter city" ngModel required>
  <input type="text" name="imagePath" placeholder="enter imagePath" ngModel>

  <select name="qualifications" id="qualifications" ngModel [ngModel]="qualification">
    <option *ngFor="let qualification of qualifications" [ngValue]="qualification">{{ qualification }}</option>
  </select>


  <textarea ngModel maxlength="600" name="description" id="sanja" cols="30" rows="10" placeholder="enter add text (max 600 karaktera)"></textarea>
  <button type="submit" [disabled]="!form.valid">Save</button>
</form>