<form class="filter-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input list="city" name="city" placeholder="Enter city name" ngModel [(ngModel)]="city" autocomplete="off">
  <datalist id="city">
    <option value="Belgrade">
      <option value="Kikinda">
  </datalist>
  <button type="submit">Search</button>
</form>

<router-outlet></router-outlet>

<app-parent-ads-item *ngFor="let parent of parents" [parentItem]="parent"></app-parent-ads-item>
<p class="no-result" *ngIf="noResults()">No results found!</p>