.about-app {
    display: grid;
    max-width: 60%;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    padding: 20px;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}

a {
    cursor: pointer;
    color:#6495ED;
    text-decoration: none;

}

li {
    padding-top:5px;
}

i.fa {
    padding-left: 10px;
    font-size: 30px;
}

@media screen and (max-width: 640px) {

    i.fa {
        padding-left: 0;
    }
}